.mission-card {
  display: grid;
  grid-template-rows: min-content 1fr;
  text-align: left;
}

.mission-card__title {
  font-weight: 700;
  border: 1px solid white;
  border-radius: 10px 10px 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.4em;
  padding-left: 15%;
  margin: 0;
}

.mission-card > * {
  padding-left: 15%;
}

.mission-card__content {
  line-height: 1.2;
  align-self: stretch;
  border: 1px solid white;
  border-radius: 0 0 10px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
