body {
  box-sizing: border-box;
  background-color: rgb(175, 174, 174);
  background-image: url('./images/background.png');
  font-family: Epilogue , sans-serif;
  color: beige;
  line-height: 1.5;
}

.wrapper {
  text-align: center;
  width: 80%;
  min-width: 340px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
